﻿@using GameEncyclopedia.Resources.CommonResources
@{
    ViewBag.Title = CommonResource.HomePage;
}

<div class="jumbotron" style="margin-top:10px;">
    <h1>@CommonResource.GameEncyclopedia</h1>
    <p class="lead">@CommonResource.Welcome</p>
    <hr class="my-4">
    <p>@CommonResource.EncyclopediaContainsGames</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">@CommonResource.GoToGameCatalogue &raquo;</a></p>
</div>