﻿@using GameEncyclopedia.Resources.CommonResources
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @CommonResource.GameEncyclopedia</title>

    <link rel="icon" type="image/x-icon" href="~/Pictures/favicon.jpg" />
    <link rel="shortcut icon" type="image/x-icon" href="~/Pictures/favicon.jpg" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="@Url.Action("Index", "Home")">
            <img src="~/Pictures/favicon.jpg" width="30" height="30" class="d-inline-block align-top" alt="GE">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i> <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "News")">@CommonResource.News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Games")">@CommonResource.Games</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Articles")">@CommonResource.Articles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Solutions")">@CommonResource.Solutions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Reviews")">@CommonResource.Reviews</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="@CommonResource.SearchGames" aria-label="Search">
                        <button class="btn btn-outline-danger my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </li>
                @Html.Partial("_LoginPartial", TempData["loginModel"])
            </ul>
                
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - @CommonResource.GameEncyclopedia</p>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("About", "Home")">@CommonResource.About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Contact", "Home")">@CommonResource.Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Rules", "Home")">@CommonResource.Rules</a>
                </li>
            </ul>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
