﻿@using GameEncyclopedia.Resources.CommonResources
@model GameEncyclopedia.Models.AccountViewModels.LoginViewModel

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        @CommonResource.SignIn
    </a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
        @using (Html.BeginForm("Login", "Account", new { returnUrl=Request.RawUrl },FormMethod.Post, new { @class = "px-4 py-3" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                @Html.ValidationSummary(true,"", new { @class="text-danger"})
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Username)
                @Html.TextBoxFor(m => m.Username, new { @class= "form-control", placeholder = "email@example.com" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password, new { @class="form-control", placeholder=Html.DisplayNameFor(m => m.Password) })
  
            </div>
            <div class="form-check">
                @Html.CheckBoxFor(m => m.RememberMe, new { @class= "form-check-input" })
                @Html.LabelFor(m => m.RememberMe, new { @class= "form-check-label" })
            </div>
            <button type="submit" class="btn btn-primary">@CommonResource.SignIn</button>
        }
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">@CommonResource.NewSignUp</a>
        <a class="dropdown-item" href="#">@CommonResource.ForgotPassword</a>
    </div>
</li>
